@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/*Desktop*/
@media (min-width: 993px) {
    body {
        background: url('images/pattern-curve.svg');
        background-size: 40%;
        background-position: bottom left;
        background-repeat: no-repeat;
    }
}

/*mobile*/
@media (max-width: 992px) {
    body {
        background: url('images/pattern-curve.svg');
        background-size: contain;
        background-position: bottom left;
        background-repeat: no-repeat;
    }
}